main{
    
}
.display-top{
    color: #000;
    background-color: #cecece;
    width: 250px;
    padding: 15px;
    font-size: 30;
    text-align: right;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}
.display-buttom{
    background-color: #cecece;
    width: 250px;
    padding: 15px;
    font-size: 30;
    text-align: right;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    margin-top: 10px;
}
button{
    padding: 10px;
    width: 67px;
    height: 45px;
    margin-top: 10px;
    background-color: rgb(194, 194, 194);
    color: black;
    font-size: 20px;
}
button:hover {
    cursor: pointer;
    background-color: rgb(182, 178, 178);
}
button:active {
    background-color: rgb(136, 136, 136);
}
img{
    position: absolute;
    top: 5px;
    right: 0;
    padding: 10px;
    border: solid 2px rgb(255, 255, 255);
    border-radius: 10px;
    height: 50px;
    width: 50px;
}
.dark-mode {
    background-color: black;
    color: white;
    
}